<div class="absolute top-0 left-0 w-full h-full z-1">
  <div class="absolute top-0 left-0 w-full h-full bg-black opacity-50"></div>
  <video autoplay loop muted playsinline class="w-full h-full object-cover">
    <source src="/disconection.mp4" type="video/mp4" />
  </video>
</div>

<div
  class="relative z-2 px-10 h-screen flex items-start justify-center flex-col"
>
  <h1>
    <img width="200" src="LOGOTIPO-SOLAR.png" alt="logo" />
  </h1>
  <p class="text-white text-2xl font-light">
    Consorcio de bares en Lima, Perú.
  </p>
  <button
    (click)="redirectBrands()"
    class="bg-transparent text-white border-white border px-8 py-2 mt-5"
  >
    <span class="uppercase font-light">Conoce más</span>
  </button>
</div>
