@if(completed()) {
<div class="bg-black h-screen w-screen flex justify-center items-center">
  <p class="text-white text-2xl text-center raleway mt-10 p-5">
    Ya estás registrado en la<br />lista para<br />
    Lila take over<br />
    el miércoles 14 de Mayo.
  </p>
</div>
} @else { @if(step() === 1){

<div
  class="background h-screen w-screen block lg:hidden"
  [ngStyle]="{
    'background-size': 'cover',
    'background-image': 'url(lila-takeover/mobile.png)'
  }"
>
  <div
    class="absolute but w-full cursor-pointer flex justify-center items-end"
    (click)="step.set(2)"
  ></div>
</div>

<div
  class="background h-screen w-screen hidden lg:block xl:hidden"
  [ngStyle]="{
    'background-size': 'cover',
    'background-image': 'url(lila-takeover/tablet.png)'
  }"
>
  <div class="absolute but w-full cursor-pointer" (click)="step.set(2)"></div>
</div>

<div
  class="background h-screen w-screen hidden lg:hidden xl:block"
  [ngStyle]="{
    'background-size': 'cover',
    'background-image': 'url(lila-takeover/desktop.png)'
  }"
>
  <div class="absolute but w-full cursor-pointer" (click)="step.set(2)"></div>
</div>

} @if(step() === 2){

<div
  class="bg-black h-screen w-screen flex justify-center items-center flex-col"
>
  <h1 class="text-white text-2xl text-center raleway p-5 pb-7">
    RESERVA TU EXPERIENCIA
  </h1>
  <form [formGroup]="form" class="flex flex-col lg:w-1/2 w-full p-5 mt-5">
    <input placeholder="Nombre completo" type="text" formControlName="name" />
    <input placeholder="Dirección" type="text" formControlName="address" />
    <input placeholder="Teléfono" type="text" formControlName="phone" />
    <input placeholder="Email" type="text" formControlName="email" />

    <input
      #birthday2
      (click)="changeType()"
      placeholder="Fecha de cumpleaños"
      type="text"
      formControlName="birthday"
    />
    <input
      placeholder="Cocktail favorito"
      type="text"
      formControlName="favoriteDrink"
    />

    <button
      (click)="saveSolar()"
      type="submit"
      class="bg-white text-black px-4 py-2 rounded-xl font-bold text-2xl raleway mt-5"
    >
      @if(isLoading()) {
      <span class="native-loader"></span>
      } REGISTRARSE
    </button>
  </form>
</div>

} } @if(isLoading()) {

<div
  class="opacity-50 fixed top-0 left-0 bg-black h-screen w-screen flex justify-center items-center"
>
  <div class="loader"></div>
</div>

}
